.d-article {
  contain: layout style;
  /* overflow-x: hidden; */
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 2rem;
  color: rgba(0, 0, 0, 0.8);
}

.d-article > * {
  grid-column: text;
}

@media(min-width: 768px) {
  .d-article {
    font-size: 16px;
  }
}

@media(min-width: 1024px) {
  .d-article {
    font-size: 1.06rem;
    line-height: 1.7em;
  }
}


/* H2 */


.d-article .marker {
  text-decoration: none;
  border: none;
  counter-reset: section;
  grid-column: kicker;
  line-height: 1.7em;
}

.d-article .marker:hover {
  border: none;
}

.d-article .marker span {
  padding: 0 3px 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  top: 4px;
}

.d-article .marker:hover span {
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.d-article h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25em;
  margin: 2rem 0 1.5rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
}

@media(min-width: 1024px) {
  .d-article h2 {
    font-size: 36px;
  }
}

/* H3 */

.d-article h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4em;
  margin-bottom: 1em;
  margin-top: 2em;
}

@media(min-width: 1024px) {
  .d-article h3 {
    font-size: 20px;
  }
}

/* H4 */

.d-article h4 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.4em;
}

.d-article a {
  color: inherit;
}

.d-article p,
.d-article ul,
.d-article ol,
.d-article blockquote {
  margin-top: 0;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

.d-article blockquote {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  padding-left: 2em;
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
}

.d-article a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.d-article a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.d-article .link {
  text-decoration: underline;
  cursor: pointer;
}

.d-article ul,
.d-article ol {
  padding-left: 24px;
}

.d-article li {
  margin-bottom: 1em;
  margin-left: 0;
  padding-left: 0;
}

.d-article li:last-child {
  margin-bottom: 0;
}

.d-article pre {
  font-size: 14px;
  margin-bottom: 20px;
}

.d-article hr {
  grid-column: screen;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 60px;
  margin-bottom: 60px;
}

.d-article section {
  margin-top: 60px;
  margin-bottom: 60px;
}

.d-article span.equation-mimic {
  font-family: georgia;
  font-size: 115%;
  font-style: italic;
}

.d-article > .d-code,
.d-article section > ..d-code  {
  display: block;
}

.d-article > .d-math[block],
.d-article section > .d-math[block]  {
  display: block;
}

@media (max-width: 768px) {
  .d-article > .d-code,
  .d-article section > .d-code,
  .d-article > .d-math[block],
  .d-article section > .d-math[block] {
      overflow-x: scroll;
      -ms-overflow-style: none;  /* IE 10+ */
      overflow: -moz-scrollbars-none;  /* Firefox */
  }

  .d-article > .d-code::-webkit-scrollbar,
  .d-article section > .d-code::-webkit-scrollbar,
  .d-article > .d-math[block]::-webkit-scrollbar,
  .d-article section > ..d-math[block]::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
}

.d-article .citation {
  color: #668;
  cursor: pointer;
}

.d-include {
  width: auto;
  display: block;
}

.d-figure {
  contain: layout style;
}

/* KaTeX */

.katex, .katex-prerendered {
  contain: style;
  display: inline-block;
}

/* Tables */

.d-article table {
  border-collapse: collapse;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.d-article table th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.d-article table td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.d-article table tr:last-of-type td {
  border-bottom: none;
}

.d-article table th,
.d-article table td {
  font-size: 15px;
  padding: 2px 8px;
}

.d-article table tbody :first-child td {
  padding-top: 2px;
}
