:host {
   font-size: 1.25rem;
   line-height: 1.6em;
   color: rgba(0, 0, 0, 0.7);
   -webkit-font-smoothing: antialiased;
 }
 ::slotted(p) {
   margin-top: 0;
   margin-bottom: 1em;
   grid-column: text-start / middle-end;
 }
 
 .d-byline {
   contain: style;
   overflow: hidden;
   border-top: 1px solid rgba(0, 0, 0, 0.1);
   font-size: 0.8rem;
   line-height: 1.8em;
   padding: 1.5rem 0;
   min-height: 1.8em;
 }


 .d-byline .byline {
   grid-template-columns: 1fr 1fr;
   grid-column: text;
 }

 @media(min-width: 768px) {
   .d-byline .byline {
     grid-template-columns: 1fr 1fr 1fr 1fr;
   }
 }

 .d-byline .authors-affiliations {
   grid-column-end: span 2;
   grid-template-columns: 1fr 1fr;
   margin-bottom: 1em;
 }

 @media(min-width: 768px) {
   .d-byline .authors-affiliations {
     margin-bottom: 0;
   }
 }

 .d-byline h3 {
   font-size: 0.6rem;
   font-weight: 400;
   color: rgba(0, 0, 0, 0.5);
   margin: 0;
   text-transform: uppercase;
 }

 .d-byline p {
   margin: 0;
 }

 .d-byline a,
 .d-article .d-byline a {
   color: rgba(0, 0, 0, 0.8);
   text-decoration: none;
   border-bottom: none;
 }

 .d-article .d-byline a:hover {
   text-decoration: underline;
   border-bottom: none;
 }

 .d-byline p.author {
   font-weight: 500;
 }

 .d-byline .affiliations {

 }
