



.d-citation-list {
  contain: layout style;
}

.d-citation-list .references {
  grid-column: text;
}

.d-citation-list .references .title {
  font-weight: 500;
}
/*
changed from > * to allow for div with class .d-citation-list
inside of DAppendix
*/
.d-citation-list > ol {
  grid-column: text;
  padding-left: 0px;
}

/*
Added to correct for div with class .d-citation-list
inside of DAppendix
*/
.d-citation-list h3 {
  grid-column: page-start / text-start;
}


.d-citation-list a.citation-backlink {
  color: rgba(0,0,0,0.3);
  padding-left: 0.5em;
}
