
.d-footnote-list {
  contain: layout style;
}


/*
changed from > * to allow for div with class .d-footnote-list
inside of DAppendix
*/
.d-footnote-list > ol {
  grid-column: text;
  padding-left: 0px;
}

/*
Added to correct for div with class .d-footnote-list
inside of DAppendix
*/
.d-footnote-list h3 {
  grid-column: page-start / text-start;
}


.d-footnote-list a.footnote-backlink {
  color: rgba(0,0,0,0.3);
  padding-left: 0.5em;
}
