/* TOC */
#contents nav a {
  color: rgba(0, 0, 0, 0.8);
  border-bottom: none;
  text-decoration: none;
}

#contents nav ul li {
  margin-bottom: .25em;
}

#contents nav a:hover {
  text-decoration: underline solid rgba(0, 0, 0, 0.6);
}

#contents nav ul {
  margin-top: 0;
  margin-bottom: 6px;
}


#contents nav>div {
  display: block;
  outline: none;
  margin-bottom: 0.5em;
}

#contents nav>div>a {
  font-size: 13px;
  font-weight: 600;
}
