@supports not (display: grid) {
  .base-grid,
  .distill-header,
  .d-title,
  .d-abstract,
  .d-article,
  .d-appendix,
  .distill-appendix,
  .d-byline,
  .d-footnote-list,
  .d-citation-list,
  .distill-footer {
    display: block;
    padding: 8px;
  }
}

.base-grid,
.distill-header,
.d-title,
.d-abstract,
.d-article,
.d-appendix,
.distill-appendix,
.d-byline,
.d-footnote-list,
.d-citation-list,
.distill-footer {
  display: grid;
  justify-items: stretch;
  grid-template-columns: [screen-start] 8px [page-start kicker-start text-start gutter-start middle-start] 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr [text-end page-end gutter-end kicker-end middle-end] 8px [screen-end];
  grid-column-gap: 8px;
}

.grid {
  display: grid;
  grid-column-gap: 8px;
}

@media(min-width: 768px) {
  .base-grid,
  .distill-header,
  .d-title,
  .d-abstract,
  .d-article,
  .d-appendix,
  .distill-appendix,
  .d-byline,
  .d-footnote-list,
  .d-citation-list,
  .distill-footer {
    grid-template-columns: [screen-start] 1fr [page-start kicker-start middle-start text-start] 45px 45px 45px 45px 45px 45px 45px 45px [ kicker-end text-end gutter-start] 45px [middle-end] 45px [page-end gutter-end] 1fr [screen-end];
    grid-column-gap: 16px;
  }

  .grid {
    grid-column-gap: 16px;
  }
}

@media(min-width: 1000px) {
  .base-grid,
  .distill-header,
  .d-title,
  .d-abstract,
  .d-article,
  .d-appendix,
  .distill-appendix,
  .d-byline,
  .d-footnote-list,
  .d-citation-list,
  .distill-footer {
    grid-template-columns: [screen-start] 1fr [page-start kicker-start] 50px [middle-start] 50px [text-start kicker-end] 50px 50px 50px 50px 50px 50px 50px 50px [text-end gutter-start] 50px [middle-end] 50px [page-end gutter-end] 1fr [screen-end];
    grid-column-gap: 16px;
  }

  .grid {
    grid-column-gap: 16px;
  }
}

@media(min-width: 1180px) {
  .base-grid,
  .distill-header,
  .d-title,
  .d-abstract,
  .d-article,
  .d-appendix,
  .distill-appendix,
  .d-byline,
  .d-footnote-list,
  .d-citation-list,
  .distill-footer {
    grid-template-columns: [screen-start] 1fr [page-start kicker-start] 60px [middle-start] 60px [text-start kicker-end] 60px 60px 60px 60px 60px 60px 60px 60px [text-end gutter-start] 60px [middle-end] 60px [page-end gutter-end] 1fr [screen-end];
    grid-column-gap: 32px;
  }

  .grid {
    grid-column-gap: 32px;
  }
}




.base-grid {
  grid-column: screen;
}

/* .l-body,
.d-article > *  {
  grid-column: text;
}
.l-page,
.d-title > *,
.d-figure {
  grid-column: page;
} */

.l-gutter {
  grid-column: gutter;
}

.l-text,
.l-body {
  grid-column: text;
}

.l-page {
  grid-column: page;
}

.l-body-outset {
  grid-column: middle;
}

.l-page-outset {
  grid-column: page;
}

.l-screen {
  grid-column: screen;
}

.l-screen-inset {
  grid-column: screen;
  padding-left: 16px;
  padding-left: 16px;
}


/* Aside */

.d-article aside {
  grid-column: gutter;
  font-size: 12px;
  line-height: 1.6em;
  color: rgba(0, 0, 0, 0.6)
}

@media(min-width: 768px) {
  aside {
    grid-column: gutter;
  }

  .side {
    grid-column: gutter;
  }
}
