
<template>
  <div class="">

  </div>
  <!-- <DContainer>
    <DTitle>
      {{title}}
      <template v-slot:subtitle>
        Mathematical derivations and <a href="https://github.com/google-research/receptive_field">open-source library</a>
        to compute receptive fields of convnets, enabling the mapping of extracted features to input signals.
      </template>
    </DTitle>

    <DByline
      :authors="authors"
      :doi="doi"
      :publishedMonth="publishedMonth"
      :publishedDay="publishedDay"
      :publishedYear="publishedYear"
    />

    <DToc :headings="toc"/>

    <DArticle> -->


      <!-- <p>
        While deep neural networks have overwhelmingly established state-of-the-art
        results in many artificial intelligence problems, they can still be
        difficult to develop and debug.
        Recent research on deep learning understanding has focused on
      </p>
      <p>
        In this work, we analyze deep neural networks from a complementary
        perspective, focusing on convolutional models.
        We are interested in understanding the extent to
        which input signals may affect output features, and mapping
        features at any part of the network to the region in the input that
        produces them. The key parameter to associate an output feature to an input
        region is the <i>receptive field</i> of the convolutional network, which is
        defined as the size of the region in the input that produces the feature.
      </p>
      <h2 id="overview">Overview of the article</h2>
      <p>
        We consider fully-convolutional neural networks, and derive their receptive
        field size and receptive field locations for output features with respect to the
        input signal.
        While the derivations presented here are general enough for any type of signal used at the input of convolutional
        neural networks, we use images as a running example, referring to modern computer vision architectures when
        appropriate.
      </p>
      <h3 id="computing-receptive-field-size">Computing receptive field size</h3>
      <figure class="figure-contents" style="height: 200px">

      <svg id="fig2b_svg" height="320" width="500" style="position: relative; top: -100px;">
        Sorry, your browser does not support inline SVG.
      <rect data-id="feature_2_3" class="feature feature_2_3" x="90" y="130" width="30" height="30" style="fill:rgb(255,255,255);stroke-width:1;stroke:rgb(140,140,140)"></rect><rect data-id="feature_2_4" class="feature feature_2_4" x="120" y="130" width="30" height="30" style="fill:rgb(255,255,255);stroke-width:1;stroke:rgb(140,140,140)"></rect><rect data-id="feature_2_5" class="feature feature_2_5" x="150" y="130" width="30" height="30" style="fill:rgb(255,255,255);stroke-width:1;stroke:rgb(140,140,140)"></rect><rect data-id="feature_2_6" class="feature feature_2_6" x="180" y="130" width="30" height="30" style="fill:rgb(255,255,255);stroke-width:1;stroke:rgb(140,140,140)"></rect><rect data-id="feature_2_7" class="feature feature_2_7" x="210" y="130" width="30" height="30" style="fill:rgb(255,255,255);stroke-width:1;stroke:rgb(140,140,140)"></rect><path data-id="flow_3_5" class="flow flow_3_5" data-offset1="3" data-width1="2" data-rowheight="1" stroke="#8a9fec" d="M90 160 C 90 210, 150 210, 150 260 L180 260 C 180 210, 150 210, 150 160 Z" opacity="0.5" fill-opacity="null" stroke-opacity="null" stroke-width="1" "="" fill="rgb(224,234,250)"></path><path data-id="flow_3_6" class="flow flow_3_6" data-offset1="6" data-width1="2" data-rowheight="1" stroke="#8a9fec" d="M180 160 C 180 210, 180 210, 180 260 L210 260 C 210 210, 240 210, 240 160 Z" opacity="0.5" fill-opacity="null" stroke-opacity="null" stroke-width="1" "="" fill="rgb(224,234,250)"></path><rect data-id="feature_3_5" class="feature feature_3_5" x="150" y="260" width="30" height="30" style="fill:rgb(255,255,255);stroke-width:1;stroke:rgb(140,140,140)"></rect><rect data-id="feature_3_6" class="feature feature_3_6" x="180" y="260" width="30" height="30" style="fill:rgb(255,255,255);stroke-width:1;stroke:rgb(140,140,140)"></rect><path stroke="rgb(16, 150, 24)" d="M90 110 L 90 120 L 90 115 L 150 115 L 150 110 L 150 120" opacity="1.0" fill-opacity="0.0" stroke-opacity="null" stroke-width="1" fill="rgb(16, 150, 24)"></path><path stroke="rgb(16, 150, 24)" d="M180 110 L 180 120 L 180 115 L 240 115 L 240 110 L 240 120" opacity="1.0" fill-opacity="0.0" stroke-opacity="null" stroke-width="1" fill="rgb(16, 150, 24)"></path></svg>

      <div id="fig2b_params_l1" style="position: absolute; top: 65px; right: 0px; text-align: right;">
      <div style="height: 20px;">Kernel Size (k<sub>L</sub>): <span>2</span></div>
      <div style="height: 20px;">Padding (p<sub>L</sub>, q<sub>L</sub>): <span>0</span></div>
      <div style="height: 20px;">Stride (s<sub>L</sub>): <span>3</span></div>
      </div>
      <div style="position: absolute; top: -20px; left: 115px;">k<sub>L</sub></div>
      <div style="position: absolute; top: -20px; left: 200px;">k<sub>L</sub></div>
      <div id="fig2b_f0" style="position: absolute; top: 30px; left: 40px;">f<sub>L-1</sub></div>
      <div id="fig2b_f1" style="position: absolute; top: 160px; left: 40px;">f<sub>L</sub></div>

    </figure> -->

      <!-- <p>We can also cite <dt-cite key="gregor2015draw"></dt-cite> external publications.</p> -->


    <!-- </DArticle>
    <DAppendix> -->


      <!-- <h3 id="solving-receptive-field-size">Solving recurrence equations: receptive field size</h3>
      <p>where the last step is done by a change of variables for the right term.</p>
      <p>where the last step is done by a change of variables for the right term.</p>
      <p>where the last step is done by a change of variables for the right term.</p>
      <p>where the last step is done by a change of variables for the right term.</p>
      <p>where the last step is done by a change of variables for the right term.</p>
      <p><a href="#return-from-other-network-operations">Navigate back to the main text</a></p>

      <h3>Acknowledgments</h3>
      <p>We are very grateful to...</p>

      <h3>Discussion and Review</h3>
      <p>
        <a href="https://github.com/distillpub/post--post-slug/issues/1">Review 1 - Anonymous</a><br>
        <a href="https://github.com/distillpub/post--post-slug/issues/2">Review 2 - Anonymous</a><br>
        <a href="https://github.com/distillpub/post--post-slug/issues/3">Review 3 - Anonymous</a><br>
      </p>
      <DFootnoteList :footnotes="footnoteList"/>
      <DCitationList />
      <DistillAppendix :authors="authors" :year="publishedYear" :doi="doi" :title="title"/> -->


    <!-- </DAppendix>

  </DContainer> -->

</template>

<script>
import axios from 'axios'
import {mapState, mapActions, mapGetters} from 'vuex'

//
// import DContainer from '@/components/DContainer'
// import DArticle from '@/components/DArticle'
// import DTitle from '@/components/DTitle'
// import DByline from '@/components/DByline'
// import DToc from '@/components/DToc'
// import DAbstract from '@/components/DAbstract'
//
// import DAppendix from '@/components/DAppendix'
//
// import DFootnoteList from '@/components/DFootnoteList'
// import DCitationList from '@/components/DCitationList'
// import DistillAppendix from '@/components/DistillAppendix'
//
// import DHoverBlock from '@/components/DHoverBlock'
//


export default {
  components: {
    // DContainer,
    // DArticle,
    // DTitle,
    // DByline,
    // DToc,
    // DAbstract,
    // DAppendix,
    // DHoverBlock,
    // DFootnoteList,
    // DCitationList,DistillAppendix
  },

  data: () => ({
    doi: '10.23915/distill.00021',
    title: 'Computing Receptive Fields of Convolutional Neural Networks',
    publishedMonth: 'Nov.',
    publishedDay: 4,
    publishedYear: 2019,
    authors: [
      {
        name: 'André Araujo',
        personalURL: 'https://andrefaraujo.github.io/',
        affiliations: [
          {
            name: 'Google Research',
            url: 'https://ai.google/research'
          }
        ]
      },
      {
        name: 'Wade Norris',
        personalURL: "https://wnorris.github.io/",
        affiliations: [
          {
            name: 'Perception Labs',
            url: 'https://perceptionlabs.ai/'
          },
        ]
      },
      {
        name: 'Jack Sim',
        affiliations: [
          {
            name: 'Google Research',
            url: 'https://ai.google/research'
          }
        ]
      }
    ],
    toc: [
      {
        text: 'Overview of the article',
        link: '#Overview of the article',
      },
      {
        text: 'Problem setup',
        link: '#Problem setup',
      },
      {
        text: 'Single-path networks',
        link: '#Single-path networks'
      },
      {
        text: 'Computing receptive field size',
        link: '#Computing receptive field size',
        isSubsection: true
      },
      {
        text: 'Computing receptive field region in input image',
        link: '#Computing receptive field region in input image',
        isSubsection: true
      },
      {
        text: 'Arbitrary computation graphs',
        link: '#Arbitrary computation graphs',

      },
      {
        text: 'Discussion: receptive fields of modern networks',
        link: '#Discussion: receptive fields of modern networks'
      }
    ],
    footnoteList: [
      'A more general definition of padding may also be considered: negative padding, interpreted as cropping, can be used in our derivations without any changes. In order to make the article more concise, our presentation focuses solely on non-negative padding.'
    ]
  }),


  computed: {

  },
  methods: {

  },
  mounted() {

  }
}
</script>
