<template>
  <div class="d-abstract">
    <!-- @slot default slot applying the class 'd-abstract' -->
    <slot></slot>
  </div>
</template>

<script>
/**
** Wrapper of div with class 'd-abstract'
*/

export default {
}
</script>

<style>
:host {
   font-size: 1.25rem;
   line-height: 1.6em;
   color: rgba(0, 0, 0, 0.7);
   -webkit-font-smoothing: antialiased;
 }
 ::slotted(p) {
   margin-top: 0;
   margin-bottom: 1em;
   grid-column: text-start / middle-end;
 }
</style>
