<template>
  <div class="d-byline">
    <div class="byline grid">
      <div class="authors-affiliations grid">
        <h3>Authors</h3>
        <h3>Affiliations</h3>
        <template v-for="(author, i) in authors">
          <p class="author" :key="author.id">
            <a class="name" v-if="author.personalURL" :href="author.personalURL">{{author.name}}</a>
            <span v-else class="name">{{author.name}}</span>
          </p>
          <p class="affiliation">
            <template v-for="(affil, i) in author.affiliations" >
              <a class="affiliation" v-if="affil.url" :href="affil.url" :key="affil.id">{{affil.name}}</a>
              <span v-else class="affiliation" :key="affil.id">{{affil.name}}</span>
              <template v-if="needsComma(i,author.affiliations.length)">,&nbsp;</template>
            </template>
          </p>
        </template>
      </div>

      <div>
        <h3>Published</h3>
        <p v-if="publishedDate">{{publishedMonth}}&nbsp;{{publishedDay}}, {{publishedYear}}</p>
        <p v-else><em>Not published yet.</em></p>
      </div>
      <div>
        <h3>DOI</h3>
        <p v-if="doi"><a :href="`https://doi.org/${doi}`">{{doi}}</a></p>
        <p v-else><em>No DOI yet.</em></p>
      </div>
    </div>
  </div>
</template>

<script>
/**
 * Component is described here.
 */
export default {
  methods: {
    needsComma(i, n) {
      // only one element
      if (n === 1) return false
      // two elements
      if (n > 1 && i < n-1) return true
      return false
    }
  },
  props: {
    doi: {type: String, default: ''},
    publishedDate: {type: Boolean, default: true},
    publishedMonth: {type: [Number, String], default: 0},
    publishedDay: {type: Number, default: 0},
    publishedYear: {type: Number, default: 0},
    authors: {
      type: Array,
      default: ()=>([]),
      validator: function (value) {
        if (!Array.isArray(value)) return false
        return value.every(author=>{
          let hasName = author.name !== undefined
          // NOTE: url is not stricltly required
          let hasURL = author.personalURL !== undefined
          let hasAffiliations = Array.isArray(author.affiliations) && author.affiliations.length > 0
          let validAffiliations = author.affiliations.every(affil=>{
            let hasAffilUrl = affil.url !== undefined
            let hasAffilName = affil.name !== undefined
            return hasAffilName
          })
          return (hasName &&  hasAffiliations && validAffiliations)
        })
      }
    }
  },
}
</script>
<style src='../styles/d-byline.css'></style>
