<template>
  <div class=".d-cite">
    <!-- <DHoverBlock id="hover-box"></DHoverBlock> -->
    <div id="citation-" class="citation">
      <span class="citation-number">
        <span class="title">{{bibtex.title}}</span>
        &ensp;
        <a :href="url">[{{urlLabel}}]</a><br>
        {{authorsAsString}}.&nbsp;
        {{venueAsString}}
      </span>
    </div>
  </div>
</template>

<script>
import DHoverBlock from './DHoverBlock.vue'
export default {
  components: {
    DHoverBlock
  },
  props: {
    bibtex: {
      type: Object,
      default: () => ({})
    }
  },
  computed() {
    url() {
      let u = this.bibtex.url
      if (u === undefined) return ''
      let a = arxivMatch(u)
      if (a === null) return u
      return `http://arxiv.org/pdf/${a[1]}.pdf`
    },
    urlLabel() {
      if (this.url.slice(-4) == '.pdf'){
        return 'PDF'
      }
      else if (this.url.slice(-5) == '.html') {
        return  'HTML'
      }
      else {
        return 'link'
      }
    },
    venueAsString() {
      let s = ', '
      var cite = (this.bibtex.journal || this.bibtex.booktitle || '')
      if ('volume' in this.bibtex) {
        let issue = this.bibtex.issue || this.bibtex.number
        issue = (issue !== undefined)
          ? `(${issue})`
          : ''
        s += `Vol ${this.bibtex.volume}${issue}`
      }

      if ('pages' in this.bibtex){
        s += `, pp. ${this.bibtex.pages}`
      }

      if (s !== '') s += '. '

      if ('publisher' in this.bibtex){
        s += this.bibtex.publisher;
        if (s[s.length-1] != '.') s += '.'
      }

      return s
    },

    authorsAsString() {
      if (this.bibtex.author === null) return ''

      let names = this.bibtex.author.split(' and ')
      let formattedNames = names.map(name => {
        name = name.trim()
        let last, firsts, initials = ''
        if (name.indexOf(',') !== -1) {
          last = name.split(',')[0].trim()
          firsts = name.split(',')[1]
        } else if (name.indexOf(' ') != -1) {
          last = name.split(' ').slice(-1)[0].trim()
          firsts = name.split(' ').slice(0,-1).join(' ')
        } else {
          last = name.trim();
        }

        if (firsts !== undefined) {
          initials = firsts.trim().split(' ').map(s => s.trim()[0])
          initials = initials.join('.')+'.'
        }
        return `${last}, ${initials}`.trim()
      })

      if (names.length === 1) return formattedNames[0]
      let most = formattedNames.slice(0, names.length-1)
      let final = formattedNames[names.length-1]
      return `${most.join(', ')} and ${final}`
    }
  },
  methods:{
    arxivMatch(url) {
      if (url === '') return null
      return (/arxiv\.org\/abs\/([0-9\.]*)/).exec(url)
    },

  }
}
</script>
<style src='../styles/d-cite.css'></style>
