<template>
  <div class="d-citation-list" style="">
    <h3 id="references">References</h3>
    <ol id="references-list" class="references">
      <li v-for="citation, i in citations" :id="`${citation.id}`">
        <span class="title">
          {{citation.title}}
        </span>
        <a :href="citation.pdf"> [PDF] </a>
        <br>
        <template v-for="(author, i) in citation.authors">
          {{author}}
          <template v-if="needsComma(i, citation.authors.length)">,</template>
          <!-- &nbsp; -->
        </template>,
        {{citation.year}}. {{citation.journal}}, Vol {{citation.volume}}, pp. {{citation.pages}}.
      </li>
      </li>
    </ol>

  </div>
</template>

<script>
export default {
  props: {
    citations: {
      type: Array,
      default: () => ([
        {
          id: 'erhan2009visualizing',
          title: 'Visualizing higher-layer features of a deep network',
          pdf: 'https://www.researchgate.net/profile/Aaron_Courville/publication/265022827_Visualizing_Higher-Layer_Features_of_a_Deep_Network/links/53ff82b00cf24c81027da530.pdf',
          authors: [
            'Erhan, D.',
            'Bengio, Y.',
            'Courville, A.',
            'Vincent, P.'
          ],
          year: '2009',
          journal: 'University of Montreal',
          volume: 1341,
          pages: 3
        }
      ]),
      // validator: function (value) {
      //   return value.every(fn=>typeof fn === 'string')
      // }
      /*
      [
        "chizat2018onthe",
        {
          "title": "On the Global Convergence of Gradient Descent for Over-parameterized Models using Optimal Transport",
          "author":"Lenaic Chizat and Francis Bach",
          "year":"2018",
          "booktitle": "Proc. NIPS",
          "url":"http://papers.nips.cc/paper/7567-on-the-global-convergence-of-gradient-descent-for-over-parameterized-models-using-optimal-transport.pdf",
          "type":"inproceedings"
        }
      ]
      [
        "erhan2009visualizing",
        {
          "title":"Visualizing higher-layer features of a deep network",
          "author":"Erhan, Dumitru and Bengio, Yoshua and Courville, Aaron and Vincent, Pascal",
          "journal":"University of Montreal",
          "volume":"1341",
          "pages":"3",
          "year":"2009",
          "url":"https://www.researchgate.net/profile/Aaron_Courville/publication/265022827_Visualizing_Higher-Layer_Features_of_a_Deep_Network/links/53ff82b00cf24c81027da530.pdf",
          "type":"article"
        }]
      */
    }
  },
  methods: {
    needsComma(i, len) {
      return (i === 0  &&  len === 1) || i < len - 1
    }
  },
}
</script>
<style src='../styles/d-citation-list.css'></style>
