<template>
  <div class="d-container">
    <slot></slot>
  </div>
</template>

<script>
export default {
}
</script>

<style src='../styles/styles-base.css'></style>
<style src='../styles/styles-layout.css'></style>
<style src='../styles/styles-print.css'></style>
