<template>
  <div class="d-footnote-list" style="">
    <h3>Footnotes</h3>
    <ol>
      <li v-for="footnote, i in footnotes" :id="`d-footnote-${i+1}-listing`">
        {{footnote}}
        <a class="footnote-backlink" href="#d-footnote-${i+1}">[↩]</a>
      </li>
    </ol>
  </div>
</template>

<script>
export default {
  props: {
    footnotes: {
      type: Array,
      default: () => ([]),
      validator: function (value) {
        return value.every(fn=>typeof fn === 'string')
      }
    }
  }
}
</script>
<style src='../styles/d-footnote-list.css'></style>
