<template>
  <div class="distill-appendix">
    <DistillUpdatesAndCorrectionsStatement :postSlug="postSlug"/>
    <DistillReuseStatement :postSlug="postSlug"/>
    <DistillCitation
      :postSlug="postSlug"
      :authors="authors"
      :title="title"
      :year="year"
      :doi="doi"
    />
  </div>
</template>

<script>
import DistillReuseStatement from './DistillReuseStatement.vue'
import DistillUpdatesAndCorrectionsStatement from './DistillUpdatesAndCorrectionsStatement.vue'
import DistillBibtexCitation from './DistillBibtexCitation.vue'
import DistillAcademicCitation from './DistillAcademicCitation.vue'
import DistillCitation from './DistillCitation.vue'
export default {
  props: {
    postSlug: {
      type: String,
      default: 'receptive-field'
    },
    doi: { type: String, default: '##.#####/distill.00000' },
    title: { type: String, default: ''},
    year: { type: [Number, String], default: '0000' },
    authors: { type: Array, default: ()=>([]) }
  },
  components: {
    DistillReuseStatement, DistillUpdatesAndCorrectionsStatement,
    DistillBibtexCitation, DistillAcademicCitation, DistillCitation
  }
}
</script>

<style>
.distill-appendix {
  contain: layout style;
}

.distill-appendix .citation {
  font-size: 11px;
  line-height: 15px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 18px;
  border: 1px solid rgba(0,0,0,0.1);
  background: rgba(0, 0, 0, 0.02);
  padding: 10px 18px;
  border-radius: 3px;
  color: rgba(150, 150, 150, 1);
  overflow: hidden;
  margin-top: -12px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.distill-appendix > * {
  grid-column: text;
}
</style>
