<template>
  <div class="d-title">
    <h1>
      <slot></slot>
    </h1>
    <p v-if="$slots['subtitle']" style="grid-column: text;">
      <slot name="subtitle"></slot>
    </p>
  </div>
</template>

<script>
export default {
  name: 'DTitle',
}
</script>
<style src='../styles/d-title.css'></style>
