<template>
  <div id="contents" class="base-grid" style="border-top: 1px solid #eee; padding: 1.5rem 0;">
    <nav role="navigation" class="l-text toc figcaption">
      <h3>Contents</h3>
      <template v-for="heading in headings">
        <ul v-if="heading.isSubsection" :key="heading.id"><li><a :href="heading.link">{{heading.text}}</a></li></ul>
        <template v-else>
          <div :href="heading.link" :key="heading.id"><a :href="heading.link">{{heading.text}}</a></div>
        </template>
      </template>
    </nav>
  </div>

</template>

<script>
export default {
  props: {
    headings: {
      type: Array,
      default: () => ([])
    }
  },
}
</script>
<style src='../styles/d-toc.css'></style>
